h1{
    font-size: x-large;
    font-weight: 500;
    color: aliceblue;
    font-family:'Dancing Script', cursive;
}
.h{
    font-size: x-large;
    font-weight: 500;
    color: aliceblue;
    font-family:'Dancing Script', cursive;
}