.carousel {
  width: 100% !important;
  height: 75vh;
}
.img__size {
  height: 75vh !important;
  width: 100vw !important;
}
.carousel-caption {
  top: 30%;
  bottom: auto;
}
.card__h:hover svg{
    transform: scale(1.05);
    margin-left: 10px;
    
}


.h1__slider {
  width: 30%;
  height: 100%;
  font-size: 60px;
  color: black;
  font-weight: 700;
}
.h1__product{
    font-family: 'Fredoka', sans-serif !important;
    color: black;
  font-weight: 700;
  font-size: 50px;
}

.btn__slider {
  width: 20%;
  background: #dfd3c3 !important;
  color: #000 !important;
  padding: 0px;
}

.btn__slider:hover {
  background: #c7b198 !important;
  border-color: #c7b198;
  color: #fff !important;
}
.svg__slider {
  padding-top: 10px;
  padding-left: 2px;
}
.svg__slider2{
  padding-top: 10px;
  padding-left: 2px;
}
.h1__product__viedo{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Fredoka', sans-serif !important;
    color: black;
}
.h2__product {
    width: 70%;
    height: 60%;
    font-size: 38px;
    color: black;
    font-weight: 600;
}
.p__product{
    text-align: center;
    font-family: 'Fredoka', sans-serif !important;
    color: rgb(175, 167, 167);
}
.p__product2{
  text-align: center;
  font-family: 'Fredoka', sans-serif !important;
  color: rgb(175, 167, 167);
  width: 90%;
}
.p__product3{
  
  font-family: 'Fredoka', sans-serif !important;
  color: rgb(175, 167, 167);
  
}
.card:hover .p__product2{
  
  color: rgb(12, 12, 12);
}
.card:hover .h5__product{
  
  color: #dfd3c3;
}
.card:hover .svg__slider2{
  
  transform: scale(1.05);
    margin-left: 10px;
}
.a__product{
    width: 50%;
    margin-left: 264px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.card-title-cont{
  height: 50px;
  display:flex;
  justify-content: center;
  align-items:center ;
  padding-top: 400px;
}

.h5__product{
  font-size: 30px;
  font-weight: 900;
  color: #000;
}
.img__product{
  height: 68.5vh;
}
.p__video{
  text-align: left;
  font-family: 'Fredoka', sans-serif !important;
  color: rgb(175, 167, 167);
  width: 100%;
}
.videoWrapper2{
  position: relative;
    overflow: hidden;
    width: 100%;
   text-align: center;
   padding-top: 20%;
}